<h1><%= @cocktail.name %></h1>

<%= form_for(@dose) do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit %>
<% end %>

<%= link_to "Back to cocktail overview", cocktails_path %>
<%= link_to "Edit cocktail", edit_cocktail_path(@cocktail) %>
